/* 7. CUSTOM LAYOUT & TYPOGRAPHY (multicolumn)
----------------------------------------------------------------------------------------*/

@media screen and (min-width: 50em) {

article {
  float: none;
  width: 32em;
}

aside {
  float: right;
  clear: right;
  width: 16em;
  z-index: -1;
  padding: 10px 10px 0px 10px;
  margin-top: 1.0em;
}

.container {
	padding: 1.618em;
	margin: 0 auto; 
	width: 50em;
  /*width: 33em;*/
  z-index: auto;
	}

/*.right {
  float: right;
  clear: right;
}*/

.left {
  float: left;
  clear: left;
}

.right > h3 {
  padding-top: 1.5em;
}
}


/* 8. CUSTOM LAYOUT & TYPOGRAPHY (Mummy bear)
----------------------------------------------------------------------------------------*/
@media screen and (min-width: 30em) and (max-width: 53.236em) {

article {
  float: none;
  width: 28em;
}

.container { 
  margin: 0 auto; 
  width: 30em; 
  max-width: 36em;
  /*z-index: auto; */
}

/*.left, .right {
  float: none;
  clear: both;
  width: auto;
  height: auto;
  margin: 0 0 2.2em;
}*/

aside {
  float: none;
  clear: both;
  width: auto;
  height: auto;
  margin: 0 0 2.2em;
}
}

/* 9. CUSTOM LAYOUT & TYPOGRAPHY (single column)
----------------------------------------------------------------------------------------*/
@media screen and (max-width: 30em) {

article {
  float: none;
  width: auto;
}

.container {
    padding: 0.809em;
    max-width: 30em;
    /*max-width: 35em;*/
    margin: auto;
    z-index: auto;
  }

/*.left, .right { 
  max-width: 100%;
  float: none; 
}*/

aside { 
  max-width: 100%;
  float: none; 
}

}