/* 7. CUSTOM LAYOUT & TYPOGRAPHY (multicolumn)
----------------------------------------------------------------------------------------*/

@media screen and (min-width: 50em) {

  article {
    float: none;
    width: 32em;
  }

  aside {
    float: right;
    clear: right;
    width: 16em;
    z-index: -1;
    padding: 10px 10px 0px 10px;
    margin-top: 1.0em;
  }

  .container {
  	padding: 1.618em;
  	margin: 0 auto; 
  	width: 50em;
    z-index: auto;
  	}

  .left {
    float: left;
    clear: left;
  }
}


/* 8. CUSTOM LAYOUT & TYPOGRAPHY (Multicolumn "tablet")
----------------------------------------------------------------------------------------*/
@media screen and (min-width: 30em) and (max-width: 53.236em) {

  article {
    float: none;
    width: 28em;
  }

  .container { 
    margin: 0 auto; 
    width: 28em; 
    max-width: 36em;
    /*z-index: auto; */
  }

  aside {
    float: none;
    clear: both;
    width: auto;
    height: auto;
    margin: 0 0 2.2em;
  }

  hr {
    max-width: 32em;
  }
}

/* 9. CUSTOM LAYOUT & TYPOGRAPHY (single column)
----------------------------------------------------------------------------------------*/
@media screen and (max-width: 30em) {

body {
  word-wrap:break-word;
}

article {
  float: none;
  max-width: 28em;
}

.container {
    padding: 0.809em;
    max-width: 28em;
    /*max-width: 35em;*/
    margin: auto;
    z-index: auto;
  }

aside { 
  max-width: 100%;
  float: none; 
}

}