ul.nav {
	margin-bottom: 40px;
}
.nav li {
	display: inline;
	padding: 5px 5px;
	margin: 0px;
	font-size: 0.75em;
}

li.nav-active {
	border: solid black;
	border-width: 0 0 2px 0;
}

.nav a {
	border: none;
	padding: 5px 8px;
}