<!--#if expr="$DOCUMENT_NAME = index.html" -->
<!--#include virtual="../cgi/pages_in_category.cgi" -->
<!--#include virtual="../cgi/similar_pages.cgi" -->
<!--#elif expr="$DOCUMENT_NAME = archives.html" -->
<!--#else -->
<!--#include virtual="../cgi/similar_pages.cgi" -->
<!--#include virtual="../cgi/comments.cgi" -->
<!--#endif -->


</div> <!-- end container -->

<div id="push"></div>
    </div><!-- end wrap -->

<!-- <div class="footer"> -->
<footer class="footer-yellow">
This site created with the <a href="http://fletcherpenney.net/multimarkdown/cms/">MultiMarkdown-Prairie CMS</a>
</footer>
<!-- </div> end footer -->

	<!-- jQuery if you want it -->
	<script type="text/javascript" language="Javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
	<script type="text/javascript" language="Javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

	<script>
	$('button').click(function(){
		$('header').toggleClass('header-red'),
		$('footer').toggleClass('footer-red');
		});
	</script>
