<!--#if expr="$DOCUMENT_NAME = index.html" -->
<!--#include virtual="../cgi/pages_in_category.cgi" -->
<!--#include virtual="../cgi/similar_pages.cgi" -->
<!--#elif expr="$DOCUMENT_NAME = archives.html" -->
<!--#else -->
<!--#include virtual="../cgi/similar_pages.cgi" -->
<!--#include virtual="../cgi/comments.cgi" -->
<!--#endif -->

</article>
</div> <!-- end container -->
<div id="push"></div>
    </div><!-- end wrap -->

<!-- <div class="footer"> -->
<footer class="footer-yellow">
This site created with the <a href="http://fletcherpenney.net/multimarkdown/cms/">MultiMarkdown-CMS</a>
</footer>
<!-- </div> end footer -->

	<!-- jQuery if you want it -->
	<script type="text/javascript" language="Javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
	<script type="text/javascript" language="Javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

	<script>
	$('#red').click(function(){
		var $addhead = $('header').addClass
		var $addfoot = $('footer').addClass
		// var $switchhead = $('header').switchClass
		// var $switchfoot = $('footer').switchClass
		if ($('header').hasClass('header-yellow')) {
			$('header').switchClass('header-yellow', 'header-red'),
			$('footer').switchClass('footer-yellow', 'footer-red');
		} else {
			$addhead('header-red', true),
			$addfoot('footer-red', true);
		}
	}),

	$('#yellow').click(function(){
		if ($('header').hasClass('header-red')) {
			$('header').switchClass('header-red', 'header-yellow'),
			$('footer').switchClass('footer-red', 'footer-yellow');
		} else {
			$addhead('header-yellow', true),
			$addfoot('footer-yellow', true);
		}
	}),

	$('#default').click(function(){
		if ($('header').hasClass(('header-red' || 'header-yellow'))) {
			$('header').removeClass(('header-red' || 'header-yellow'));
		} else {
			$addhead('header-default', true),
			$addfoot('footer-default', true);
		}
	});
	</script>
